* {
    padding: 0px;
    margin: 0px;
}

.pre-nav {
    padding: 20px 40px 20px 45px;
    display: flex;
}

.pre-nav>svg {
    height: 32px;
}

.toggle {
    height: 32px;
    width: 100%;
    background-color: aqua;
}